{% load bootstrap3 staticfiles thumbnail %}<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="author" content="P.rogramming" />
<meta name="description" content="official web site" />
<title>P.rogramming</title>
<link rel="shortcut icon" href="/static/blog/img/pro_icon.png">

<!-- Bootstrap Core CSS -->
<link href="{% static "startbootstrap-agency/1.0.4/css/bootstrap.css" %}" rel="stylesheet" />

<!-- Custom CSS -->
<link href="{% static "startbootstrap-agency/1.0.4/css/agency.css" %}" rel="stylesheet" />
<link href="{% static "blog/blog.css" %}" rel="stylesheet" />


<!-- Custom Fonts -->
<link href="{% static "startbootstrap-agency/1.0.4/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="{% static "jquery-2.1.4.min.js"%}"></script>
</head>

<body id="page-top" class="index">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# <a class="navbar-brand page-scroll" href="#page-top">HOME</a> #}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                {# <li class="hidden"><a href="#page-top"></a></li> #}
                <li><a class="page-scroll" href="#page-top">Home</a></li>
                <li><a class="page-scroll" href="#services">About</a></li>
                <li><a class="page-scroll" href="#portfolio">Activity</a></li>
                <li><a class="page-scroll" href="#about">Timeline</a></li>
                <li><a class="page-scroll" href="#project">Project</a></li>
                <li><a class="page-scroll" href="#team">Team</a></li>
                <li><a class="page-scroll" href="#contact">Contact</a></li>
                {% if not user.is_authenticated %}
                    <li><a href = "{%url "login"%}" >Login</a></li>
                    <li><a href = "{%url "accounts:signup" %}">SignUp</a></li>
                {% else %}
                    {% if user.is_staff %}
                    <li><a href = "{%url "blog:profile" %}">Profile</a></li>
                    {% endif %}
                    <li class="dropdown" id = "dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ user }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id = "dropdown-menu">
                            <li><a href="{% url "logout" %}?next={{ request.path }}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
        {% block content %}
        {% endblock %}
</body>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "startbootstrap-agency/1.0.4/js/bootstrap.min.js"%}"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static "startbootstrap-agency/1.0.4/js/classie.js"%}"></script>
<script src="{% static "startbootstrap-agency/1.0.4/js/cbpAnimatedHeader.js"%}"></script>

<!-- Contact Form JavaScript -->
<script src="{% static "startbootstrap-agency/1.0.4/js/jqBootstrapValidation.js"%}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "startbootstrap-agency/1.0.4/js/agency.js" %}"></script>
<script src="{% static "blog/blog.js" %}"></script>

<script src="{% static "jquery.backstretch.min.js"%}"></script>
<script src="{% static "jquery.toaster.js" %}"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</html>