{% extends "base.html" %}
{% load bootstrap3 staticfiles %}




{% block content%}
<script>
$(".navbar.navbar-default.navbar-fixed-top").addClass("navbar-shrink")
$(".navbar-brand.page-scroll").attr("href","{%url "blog:index" %}")
$("li .page-scroll").remove()
</script>
<div class = "container">
    <div class="wrapper">
      <div class="col-xs-12 col-md-4 col-md-offset-4">
        <form action="{%url "accounts:signup"%}" method="post" name="signup_Form" class="form-signin" style="margin-top: 100px">
        {% csrf_token %}
            <h3 class="form-signin-heading">SIGN UP</h3>
              <hr class="colorgraph">
              이메일 인증이 이어집니다. 사용하시는 이메일 주소를 기입해주세요.

              {% bootstrap_form form %}



        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="register" type="Submit">SignUp</button>


        </form>
      </div>
    </div>
</div>
{% endblock%}






