{% load staticfiles %}
{% load bootstrap3 %}
{% load thumbnail %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>P.rogramming</title>

    <!-- Bootstrap Core CSS -->

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link rel= "stylesheet" href="{%static "css/styles.css" %}"/>

    <!-- Custom CSS -->
    <link href="{% static "css/p_ro.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}"= rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body id="page-top" class="index">


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand page-scroll" href="#page-top">[<span style='color:red;'>P</span>.ro]</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Activity</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Timeline</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>

                    {% if not user.is_authenticated %}
                        <li>
                            <a href="{%url "login"%}" >Login</a>
                        </li>
                        <li>
                            <a href = {%url "accounts:signup" %}>SignUp</a>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ user }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href={% url "logout" %}?next={{ request.path }}>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<header>


    <div id="header">
    <div class="content">
        <div class="container">
            <div class="jumbotron">
                <h1 >피로그래밍</h1>
                <div class="space-sm"></div>
                <p>

                </p>
                <div class="space-sm"></div>
                <p>


                        <a href="{% url 'blog:apply' %}"><span class="btn btn-primary">Apply</span></a>





                </p>
                <div style="height: 60px; overflow: hidden;">


                </div>
            </div>
          </div>
        </div>
      </div>
        <script src="{% static "js/jquery.js"%}"></script>
        <script src="{% static "js/jquery.backstretch.min.js"%}"></script>
        <script>
         $("#header").backstretch(["{%static "img/study.jpg"%}","{%static "img/with_teacher.jpg"%}","{%static "img/shy.jpg"%}"],{ duration: 3000, fade: 750 })
        </script>

</header>
<script src="{% static "js/jquery.toaster.js" %}"></script>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                <!--
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </div>
                -->
                <script>


                    $.toaster({
                        title: null,
                        priority: '{{ message.tags }}',
                        message: '{{ message }}'

                    });
                </script>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"> P.rogramming </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse bouncecircle"></i>
                    </span>
                    <h4 class="service-heading">비전공자 대상</h4>
                    <p class="text-muted">비전공자를 위한 코딩 연합 동아리.</br> 기초가없어도 됩니다. "더 제대로 가르쳐 줄게!!!"</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse bouncecircle"></i>
                    </span>
                    <h4 class="service-heading">웹/앱서비스 개발</h4>
                    <p class="text-muted">현업 개발자 선생님과 함께 Python과 Web Framework인 Django를 공부합니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-university fa-stack-1x fa-inverse bouncecircle"></i>
                    </span>
                    <h4 class="service-heading">Micro-College, 한 여름밤의 열기</h4>
                    <p class="text-muted">동기들과 함께 단기간에 빠르게 배울수 있습니다.</br>"상상이상의 열정으로 상상이상의 결과물을 만들어 낸다!!!"</p>

                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Activity</h2>
                    <h3 class="section-subheading text-muted">Pictures of P.rogramming</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{%static "img/portfolio/1.jpg"%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>2015. 07. 16</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "img/portfolio/2.jpg"%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>2015. 07. 30</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "img/portfolio/3.jpg"%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>2015. 07. 28</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "img/portfolio/4.jpg"%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>2015. 08. 06</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "img/portfolio/5.jpg"%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>2015. 08. 11</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static "img/portfolio/6.jpg"%}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>2015. 08. 05 </h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">피로그래밍의 피로했던 발자취.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/1.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>NOV 2014</h4>
                                    <h4 class="subheading">LET'S MAKE IT</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">첫째 K와 셋째 K는 비전공자를 위한 코딩 동아리를 만드는데 의기투합했다. 둘째 K가 여기에 합류했다. 기존의 프로그래밍 동아리는 전공자 수준의 지식을 요구했기 때문에 문턱이 높았다. 또한 막 생겨나던 비전공자를 위한 동아리들은 높아지는 프로그래밍 교육 열기를 감당하기 어려웠다. 우리도 코딩을 배우면서 동아리를 제대로 만들어보자는 생각에 본격적인 준비에 돌입하였다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/2.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>DEC 2014</h4>
                                    <h4 class="subheading">P.rogramming 1st</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Python + Flask 웹 프레임워크.<br>3개 대학에서 모인 18명의 학생들.<br>피로그래밍 1기는 그렇게 시작했다.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/3.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>FEB 2015</h4>
                                    <h4 class="subheading">Be The Unicorn</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">첫 해커톤이 열렸다.<br>코드네임 <em>Be The Unicorn.</em><br>그리고 6개의 웹 서비스가 만들어졌다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/4.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>MARCH 2015</h4>
                                    <h4 class="subheading">P.rogramming 2nd</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Java + Android 프로젝트. <br>3개 대학에서 모인 30명의 학생들.<br>피로그래밍의 두번째 기수가 출범했다.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/5.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>JULY 2015</h4>
                                    <h4 class="subheading">P.rogramming 3rd & M.T</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Python + Django 웹 프레임워크.<br>여름방학이 시작하면서 3기를 모았다.<br>4개 대학에서 27명이 모였다.<br>이번엔 배우기 전에 살짝 놀고(마시고) 시작했다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about/6.jpg" %}" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                {% for post in post_list %}
                    <div ng-repeat="u in users" class="col-xs-4 col-sm-2">
                        <div class="team-thumb">
                        <a href="#myModal_{{ post.pk}}" ng-click="showUserModal($index)" data-toggle="modal"><img src="{{ post.photo.url }}" class="img-thumbnail img-responsive img-circle"></a>
                        <h3 class="text-center"></h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.smba.go.kr/kr/index.do">
                        <img src="{% static "img/logos/logo1.jpg"%}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://ect.snu.ac.kr/">
                        <img src="{% static "img/logos/logo2.jpg"%}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.kised.or.kr/">
                        <img src="{% static "img/logos/logo3.jpg"%}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.google.com">
                        <img src="{% static "img/logos/logo4.jpg"%}" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

      <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">P.rogramming</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form action="" method="post" name="sentMessage" id="contactForm" novalidate> {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {% bootstrap_field form.name %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    {% bootstrap_field form.sender %}
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    {% bootstrap_field form.phone %}
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {% bootstrap_field form.message %}
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl" value="Submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; P.rogramming 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">

                        <li><a href="https://www.facebook.com/p.rogramming3k?fref=ts"><i class="fa fa-facebook"></i></a>

                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>Developed by: 김빛나, 이가람, 박근우, 이창현</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    {% include "blog/portfolio.html" %}




<!--teamModal -->
{% for post in post_list %}
<div id="myModal_{{ post.pk }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 id="myModalLabel" class="text-center">{{post.name}}</h1>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4"><div class="team-thumb"><img src="{{post.photo.url}}" class="img-thumbnail img-responsive img-circle"></div></div>
                    </div>
                    <hr>
                    <div class="row">
                        <h4 class="text-center">{{post.content}}</h4>
                        <h4 class="text-center"><a href="{{post.URL1}}"><button class="btn btn-info"><i class="fa fa-facebook"></i></button></a><a href="{{post.URL2}}"><button class="btn btn-default"><i class="fa fa-github"></i></button></a></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-info">
                <button class="btn btn-lg btn-default center-block" data-dismiss="modal" aria-hidden="true">Okay!</button>
            </div>
        </div>
    </div>
</div><!--/modal-->

{% endfor %}



    <!-- jQuery -->
    <script src="{% static "js/jquery.js"%}"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js"%}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "js/classie.js"%}"></script>
    <script src="{% static "js/cbpAnimatedHeader.js"%}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static "js/jqBootstrapValidation.js"%}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/p_ro.js"%}"></script>

</body>

</html>









